#dtext {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: larger;
}

p {
  color: #9a9a9a;
}

nav img {
  float: left;
  padding: 5px;
}

li img {
  float: right;
  margin-top: -5px;
}

header {
  margin: auto;
  width: 1050px;
  border: solid black;
}
h2 {
  font-size: 25px;
  font-weight: bolder;
}

main {
  margin: auto;
  width: 1050px;
  height: auto;
  border: solid black;
}

main p {
  text-indent: 50px:
}
/* Used from  https://stackoverflow.com/questions/13746540/css-for-displaying-an-indented-ordered-list-with-checkboxes-before-each-list-ite */
li input
{
    position: absolute;
    margin-left: -40px;
    margin-top: 5px;
    float: left;}

footer {
  padding: 30px;
  text-align: center
}

/* Vanessa Info*/
#Vessa {
 padding-left: 5px;
}
#vtext {
  color: cadetblue;
  float: left;
}
/* Container holding the image and the text */
.container {
  position: relative;
  color: black;
}


/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

button {
  float: right;
  background-color: #CC5500;
}
